.container {
  width: 100%;
  min-height: 100px;
  background-color: #0b0909;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
}
.avatar {
  margin: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 1;
  padding: 5px;
  background-color: #0b0909;
}
.navbar a,
.navbar span {
  color: rgb(67, 87, 200);
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar a:hover,
.navbar span:hover {
  color: rgb(231, 40, 206);
}
.navUser {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navUser p {
  color: aliceblue;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
}
.logonav {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
