* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  width: 100%;
  background-color: black;
}
.active {
  /* background-color: red; */
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 55px;
  color: #dedee3;
  background-color: rgb(42, 49, 49);
  max-width: 500px;
  height: 86vh;
  padding: 20px;
}
.formWraper {
  background-color: #0b0909;
}
